@charset "UTF-8";

body {
  background-color: lightblue;
}

.content {
  max-width: 500px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bfd1d6;
}

h1 {
    width: 100%;
    text-align:center;
}



.center-form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.hotelImg {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.foot {
	color: #333;
}

/* The box around the topnav */
.topNav {    
    border: 2px;
    border-radius: 3px;
    margin: 0 auto 60 auto;
    padding: 8px;
    width: 100%; 
    
}

/* Add a black background color to the top navigation */
.topNav {
  background-color: #333;
  overflow: auto;
}

/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  width: 18%;
  white-space: nowrap;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: #bfe1ed;
  color: black;
}

p {
  
  margin-left:auto;
  margin-right:auto;
  text-align:center;

}  

#hearFromYou {
	justify-content: center;
	color: #444;
}

.card-img-top {
	display:inline;
	vertical-align:middle;
}

.card-body {
	display:inline;
	height: 100px;
    width: 100px;
    vertical-align: top;
}

.album-text {
    display: inline-block;
    background-color: #eee;
    height: 100px;
    width: 100px;
    vertical-align: middle;
}
.album-details {
	display:inline-block;
}

.artist-list {
	margin-left: auto;
	margin-right: auto;
}
